bold {
  font-weight: bold;
}

.date-picker {
  background-color: rgb(250, 252, 247);
  border-width: 2;
  border-radius: 10;
  color: rgb(238, 8, 8);
  vertical-align: middle;
}




ScrollView {
  font-weight: bold;
}