bold {
  font-weight: bold;
}

.picker {
  background-color: rgb(229, 235, 229);
  color: rgb(247, 243, 243) !important;
  border-color: rgb(50, 243, 11);
  border-radius: 20;
  border-width: 2;
  vertical-align: middle;

}

  ScrollView {
  font-weight: bold;
}