<ActionBar title="Galería" />
<ScrollView>
    <StackLayout backgroundColor="#000000" marginTop="20" id="galeria">
        <Image src="~/app/images/logoOasisBlanco.jpg" height="60" horizontalAlignment="center" marginBottom="10" />
        <Image src="~/app/images/descarga.png" height="1000" horizontalAlignment="center" marginBottom="10" />
        <Image src="~/app/images/descarga.png" height="1000" horizontalAlignment="center" marginBottom="10" />
        <Button text="Regresar..." (tap)="onRegresar()" pageTransition="slideRight" clearHistory="true"></Button>
    </StackLayout>
</ScrollView>